#!/bin/sh

if test -f .local/env; then
  . .local/env
fi

export PREFIX="$PWD/.local"
export GOBIN="$PREFIX/bin"
export PATH="$GOBIN:$PATH"
export FC_SOCK="$PREFIX/fc.sock"
export V_SOCK="$PREFIX/v.sock"
export FC_CONFIG="./firecracker/boot.ci.vsock.json"
